.contacts {
  display: flex;
  align-items: center;
}
.contacts__item:not(:last-child) {
  margin-right: 50px;
  margin-left: auto;
}
.contacts__link {
  display: flex;
  align-items: center;

  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts__tel,
.contacts__email {
  color: inherit;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color var(--time-cubic);
}
.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

.contacts__email:hover,
.contacts__email:focus,
.contacts__email:active,
.contacts__tel:hover,
.contacts__tel:focus {
  color: var(--accent-color);
}
.page-header--current {
  position: relative;
  color: var(--accent-color);
}
