.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--hero-footer-bgr-color);
}

.footer-box {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
