.address {
  margin-top: 20px;

  font-style: inherit;
  font-weight: 400;
}
.address__text {
  margin-bottom: 9px;

  color: var(--primary-white-color);
  font-size: 14px;
  line-height: 24px;
}
.address__item {
  margin-bottom: 9px;
}
.address__link {
  color: var(--address-link-color);
  text-decoration: none;

  transition: color var(--time-cubic);
}
.address__link:hover,
.address__link:focus {
  color: var(--accent-color);
}
